nav {
    background: red;
    height: 80px;
}
.col1 {
    background-color: lightblue;
    height: 300px;
}

.col2 {
    background: lawngreen;
    height: 300px;
}

footer {
 background: orange;
 height: 100px;
}